.card{
  margin-top: 3rem;
  display: inline-flex;
  width: 44rem;
  height: 28rem;
  Gap:5rem;
  background-color: beige;
  margin-left: 5rem;
  border-radius: 1rem;
}

.card div{
  width: 21rem;
}

.card img{
  margin-left: 4rem;
  margin-top: 4rem;
  height: 19rem;
  width: auto;
  align-self: flex-start;
  border: solid 8px ;
}
.card h5{
  margin-right: 5rem;
  text-align: right;
  
}

.card h2{
  margin-top: 5rem;
  margin-right: 5rem;
  color: rgb(7, 7, 88);
}
.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

body{
  background-color: rgb(205, 219, 230);
}

.card button{
  background-color: black;
  color: white;
  border: solid black 1px;
  border-radius: 4px;
  padding: 8px 15px;
}

.card button:hover{
  background-color: rgb(87, 94, 102);
  border: solid rgb(87, 94, 102) 1px;
}