.card {
  display: flex;
  gap: 12px;
  background: #fffbe6;
  border-radius: 16px;
  padding: 24px;
  width: 15rem;
  height: 12rem;
  align-items: center;
}


.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
  padding: 40px;
  background: #d7e2e8;
}

.card img {
  width: 100px;
  height: auto;
  border: 3px solid #000;
}


.card h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #0b1b4a;
}

.card p {
  margin: 4px 0;
  font-size: 14px;
  color: #333;
}


.button {
  margin-top: 12px;
  padding: 8px 14px;
  border-radius: 6px;
  background: #474747;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  transform: scale(1.05);
  background: #000;
}
